<div style="width:100%;height:50px;background:#065d58;color:white;">
  <ul style="float: right;">
    <li style="display: inline-block;font-size: 16px;padding-top: 14px;padding-right:5px;"><a href="https://www.miniclip.com/games/8-ball-pool-multiplayer/en/"  target="_blank" style="color:white;">8 Ball Pool</a></li>
    <li  style="display: inline-block;font-size: 16px;padding-top: 14px;padding-right:5px;"> <a href="https://www.miniclip.com/games/crazycle/en/" target="_blank" style="color:white;">Crazycle</a></li>
    <li  style="display: inline-block;font-size: 16px;padding-top: 14px;padding-right:5px;"><a href="http://www.bgames.com/racing-games/down-hill-stunts/" target="_blank" style="color:white;">Down Hills</a></li>
  </ul>
</div>
<div class="" style="width:100%;">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="https://www.miniclip.com/games/8-ball-pool-multiplayer/en/" target="_blank"><img src="/images/8ballpool.jpg"  alt="Los Angeles" style="width:100%;height:500px;"></a>
      </div>
      <div class="item">
        <a href="https://www.miniclip.com/games/crazycle/en/" target="_blank"><img src="/images/crazycle.jpg" alt="Chicago"  style="width:100%;height:500px;"></a>
      </div>
      <div class="item">
        <a href="http://www.bgames.com/racing-games/down-hill-stunts/" target="_blank"><img src="/images/downhillstunts.jpg"  alt="New york" style="width:100%;height:500px;"></a>
      </div>
    </div>  
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next" >
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class = "container" style="padding-top:50px;padding-bottom:50px;">
  <div class="col-md-6 part1" >
    <h1>Online Games Promotion  </h1>
     <p>
       It makes us, the creators of Online Games, very proud to be able to welcome you to our online gaming site. We have been working around the clock to ensure that you can 
       enjoy the full catalogue of our many, many games in your browser, no matter what gender or age you are, or if you prefer to play free online games on  your computer.
      <p>
       All of our games are based on HTML5 technology. This enables anyone with a modern browser and an internet connection to have fun and play free online games 
       anytime they want. Feel like playing from the back-seat of a car, in a moving train or perhaps while flying? No problem!
       </p> 
     </p>
  </div>
  <div class="col-md-6">
    <img src="/images/games.jpg" style="height: 290px;width: 386px;border-radius: 14%;}">
  </div>
</div>

<div class="container">
  
  <div class="col-md-6" >
    <img src="/images/games1.jpg" style="height: 290px;width: 386px;border-radius: 14%;}">
  </div>
  <div class="col-md-6">
    <h1>Let's Play  </h1>
     <p>
      In order to make it easier for you to explore and find new, fun games for you to play, we have assigned all of our games one or more game categories.
      Since it may not be obvious what each category is about, a short description and an examples of each category now follows.
      As with all good adventures, let's start with the beginning.
      <p>
      Feeling particularly girly today? Maybe you just feel like playing something that takes you back to when you were younger? We've done our best to categorize our
      games according to who we believe is the intended audience. Perhaps the Girls or Kids category has exactly what you need. In that, case, it'd be a shame to miss out. 
      Check out our page: online games for kids
       </p> 
     </p>
  </div>
 
</div>
      
</div>

<div class="footer" style="height:50px;background:#1a263d;width:100%;color:white;">
  <h5 class="text-center" style="padding-top: 20px;">Online Games Promotions @COPYRIGHTS RESERVED.</h5>
</div>
<style>
/*  .carousel-control.left {
    background:#9f9f9f;
  }
  .carousel-control.right {
    background:#9f9f9f;
  }*/
</style>